[user]
	name = Olle Gynther Zillén
	email = olle.gyntherzillen@tre.se
[core]
  autocrlf = input
[color]
  ui = auto
[color "status"]
  added = green
  changed = blue bold
  untracked = red
[color "branch"]
  remote = yellow
[credential]
  helper = store --file ~/.git-credentials
  helper = cache --timeout 86400
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
